pandas==2.3.3
plotly==6.5.2
psycopg2-binary==2.9.11
python-dotenv==1.2.1
requests==2.32.5
selenium==4.40.0
Shapely==2.1.2
SQLAlchemy==2.0.46
streamlit==1.53.1
supabase==2.28.0
webdriver_manager==4.0.2